body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

.network {
    font-size: 80px;
}

p {
    color: darkslategray;
    margin-bottom: 15%;

}

.skip {
    color: skyblue;
}

.healthy {
    color: grey;
}

.eat-healthy {
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 100px;
    padding-left: 5%;

}

.diet-food {
    width: 50%;

}

.diet-food img {
    width: 90%;
}

.link-button {
    font-size: 200%;
    text-decoration: none;
    background-image: linear-gradient(skyblue, white);
    padding: 10px 30px;
    margin-top: 10%;
    border-radius: 20px;
}

#order-button {
    margin-top: 50%;
}

.top-banner {
    background-image: url(images/background.png.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.about-me {
    color: tan;
    font-size: 50px;
}

.contact-me {
    text-decoration: none;
    font-size: 200%;
    background-image: linear-gradient(silver, slategray);
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 20px;
    color: bisque;
}

.top-banner2 {
    background-image: url(images/food2.png.jpg);
    background-repeat: no-repeat;
    background-size: 40%;
}

.only-me {
    text-align: justify;
    font-size: 20px;
}

.recipy {
    text-align: center;
    font-size: 50px;
    color: darkcyan;
}

.para-recipy {
    text-align: center;
    font-size: 30px;
    margin: 10px 30px 30px;
}

.description-about {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 100px;
}

#khabar-khabo {
    border: 5px solid gray;
    border-radius: 50px;
    margin: 20px;
    padding-top: 5%;
    padding-left: 5%;
    box-shadow: 10px 10px 40px gray;
}

.title-color {
    color: darkolivegreen;
}

.likes-count {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
}

.youtube {
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;

}

.subscriber {
    font-size: 300%;
}

.finish {
    text-align: center;
    background-color: black;
    margin-top: 100px;
    padding-top: 3%;
    padding-bottom: 5%;
}

.eat {
    color: darkkhaki;
}

.fresh {
    color: darkseagreen;
}

.live {
    color: bisque;
}