body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

.network {
    font-size: 80px;
}

p {
    color: darkslategray;
}

.skip {
    color: skyblue;
}

.healthy {
    color: grey;
}

.eat-healthy {
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 100px;
    padding-left: 5%;

}

.diet-food {
    width: 50%;

}

.diet-food img {
    width: 90%;
}

.link-button {
    font-size: 200%;
    text-decoration: none;
    background-image: linear-gradient(skyblue, white);
    color: mediumpurple;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 20px;
}

.top-banner {
    background-image: url(images/background.png.png);
    background-repeat: no-repeat;
    background-size: 100%;
}